databases:
  - name: ctr-db
    databaseName: ctr_db
    user: ctr_user

services:
  - type: web
    name: ctr-project
    env: python
    buildCommand: "./build.sh"
    startCommand: "./start.sh"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: DATABASE_URL
        fromDatabase:
          name: ctr-db
          property: connectionString
